@font-face {
  font-family: vazir-req;
  src: url("fonts/Vazirmatn-Regular.woff2");
}

@font-face {
  font-family: vazir-light;
  src: url("fonts/Vazirmatn-Light.woff2");
}

@font-face {
  font-family: vazir-med;
  src: url("fonts/Vazirmatn-Medium.woff2");
}

@font-face {
  font-family: vazir-bold;
  src: url("fonts/Vazirmatn-Bold.woff2");
}

@font-face {
  font-family: vazir-black;
  src: url("fonts/Vazirmatn-Black.woff2");
}

@font-face {
  font-family: poppins-bold;
  src: url("fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: fanavari;
  src: url("https://mrswap.org/fonts/Fanavari\ Bold.ttf");
}

body {
  padding: 0px;
  margin: 0px;
  background: #0f0f0f;
  direction: rtl !important;
  overflow-x: hidden !important;
}

img {
  user-select: none;
  pointer-events: none;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.header {
  width: 100%;
  padding-right: 175px;
  padding-left: 175px;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  border-bottom: 1px solid #333333;
  overflow: hidden;
  max-height: 110px;
}

/* .right-header-icons {

} */

.header-button {
  padding: 12px 26px 12px 26px;
  text-align: center;
  color: white;
  border-radius: 26px;
  font-family: vazir-med;
  display: inline-block;
  opacity: 0.52;
  transition: all 0.3s ease-in-out;
}

.header-button-active {
  background: #1c1c1c;
  padding: 12px 32px 12px 32px;
  opacity: 1 !important;
}

.header-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.header-button span {
  margin-right: 3.8px;
  font-size: 17px;
}

.header-button img {
  margin-top: -4px;
}

.left-header-profile {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: end;
}

.left-header-profile div:hover {
  cursor: pointer;
}

.gift-sp {
  font-family: vazir-bold;
  margin-bottom: 5px !important;
  color: #bbbbbb;
}

.gift-sp-2 {
  margin-top: 10px important;
  color: white;
  margin-bottom: 100px !important;
}

.mrs232 {
  margin-left: 15px;
}

.msb2 {
  display: inline-block;
  height: 48px;
}

.msb2 div {
  
  display: inline-block;
}

.msb2 img {
  margin-top: -3px;
  display: inline-block;
}


.payment-history {
  background: #2489ff;
  border-radius: 26px;
  padding: 12px 22px 12px 22px;
  font-family: vazir-med;
  color: white;
  transition: all 0.25s ease-in-out;
}

.payment-history:hover {
  box-shadow: #2889f75d 0px 0px 13px;
}

.payment-history img {
  margin-left: 8px;
}

.profile-button {
  margin-right: 20px;
  background: transparent;
  border: #2489ff solid 1px;
  border-radius: 26px;
  padding: 12px 22px 12px 22px;
  font-family: vazir-bold;
  color: #2489ff;
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
}

.profile-button:hover {
  background-color: #2489ff;
  border: #2489ff solid 1px;
  color: white;
}

.profile-button:hover img {
  filter: brightness(0) invert(1);
}

.profile-button img {
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
}

.intro {
  margin-top: 200px;
  width: 100%;
  padding-right: 11%;
  padding-left: 11%;
}

.enable {
  display: none !important;
}

.enable-flex {
  display: none !important;
}

.intro-title {
  font-family: vazir-black;
  color: white;
  font-weight: 700;
  font-size: 78px;
  line-height: 138px;
}

.intro-about {
  font-family: vazir-req;
  color: #bbbbbb;
  font-style: normal;
  font-weight: 100;
  font-size: 29px;
  line-height: 50px;
  text-align: right;
}

.intro-image-header {
  display: flex;
  justify-content: end;
}

.price_amount_title {
  position: absolute;
  color: white;
  margin-left: 388px;
  margin-top: 164px;
  font-size: 36px;
  line-height: 30px;
  text-align: center;
  font-family: fanavari;
  animation: intro-text 4s ease-in-out infinite;
}

.price_amount_main {
  margin-top: 20px;
  font-family: vazir-bold;
  font-size: 40px;
  animation: intro-animation 4s ease-in-out infinite;
}

@keyframes intro-text {
  0% {
    transform: translateY(-80px);
  }

  50% {
    transform: translateY(-70px);
  }

  100% {
    transform: translateY(-80px);
  }
}

@keyframes intro-animate {
  0% {
    transform: translateY(-80px);
  }

  50% {
    transform: translateY(-70px);
  }

  100% {
    transform: translateY(-80px);
  }
}

/* @keyframes intro-animate {
    0% {
        top: -70px;
    }

    55% {
        top: -50px;
    }

    100% {
        top: -70px;
    }
} */

.intro-buttons {
  margin-top: 86px;
  display: flex;
  flex-direction: row;
}

.intro-buttons div {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.intro-btn-buy {
  background: #2489ff;
  box-shadow: 0px 0px 30px rgba(36, 137, 255, 0.38);
  border-radius: 28.5px;
  font-family: vazir-med;
  color: white;
  font-size: 20px;
  /* padding: 7px 65px 7px 65px; */
  width: 168px;
  height: 45px;
  margin-left: 16px;
  transition: all 0.2s ease-in-out;
}

.intro-btn-buy:hover {
  background: #2489ff;
  box-shadow: 0px 0px 30px rgba(36, 137, 255, 0.58);
  font-size: 22px;
}

.intro-btn-info {
  border: 3px solid #ffffff;
  border-radius: 28.5px;
  font-family: vazir-med;
  color: white;
  font-size: 18px;
  /* padding: 6px 52px 6px 52px; */
  margin-left: 30px;
  width: 168px;
  height: 45px;
  transition: all 0.2s ease-in-out;
}

.intro-btn-info:hover {
  background-color: white;
  color: black;
}

.ab-box-card {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  width: 309px;
  height: 295px;
  background: #1e2124;
  border-radius: 27px;
}

.ab-box-card img {
  border-radius: 27px;
  width: 100%;
  height: 80%;
  border: 3px solid #dbfffc;
  filter: drop-shadow(0px -15px 123px rgba(0, 123, 219, 0.23));
}

.ab-box-card div {
  font-family: vazir-bold;
  font-size: 21px;
  color: #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 20%;
}

.abilities {
  text-align: center;
  width: 70%;
  /* width: 75%; */
  margin: 100px auto auto auto;
}

.mtcard {
  margin-top: 80px !important;
  margin-bottom: 135px !important;
}

.ab-title {
  background-color: white;
  width: 208px;
  height: 47px;
  font-family: vazir-black;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 24px;
  position: relative;
  top: 20px;
}

.ab-back-back {
  background-color: #141414 !important;
  color: white !important;
}

.bg-none {
  background-color: transparent !important;
}

.ab-shape {
  height: 292px;
  background: #191919;
  border-radius: 38px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 22px;
  padding-right: 10px;
  padding-left: 10px;
  /* padding-right: 50px;
    padding-left: 50px; */
  display: flex;
  justify-content: center;
}

.ab-box {
  width: 20%;
  height: 100%;
  border-radius: 27px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: vazir-bold;
  color: white;
  font-size: 20px;
}

.ab-box img {
  margin-bottom: 29px;
}

.ab-box:nth-child(1) {
  background: rgba(142, 181, 255, 0.2);
  border: 3px solid #8eb5ff;
  transition: all 0.2s ease-in-out;
}
.ab-box:nth-child(2) {
  background: rgba(255, 220, 151, 0.2);
  border: 3px solid #ffdc97;
  transition: all 0.2s ease-in-out;
}
.ab-box:nth-child(3) {
  background: rgba(255, 162, 162, 0.2);
  border: 3px solid #ffa1a1;
  transition: all 0.2s ease-in-out;
}
.ab-box:nth-child(4) {
  background: rgba(154, 255, 213, 0.2);
  border: 3px solid #9affd5;
  transition: all 0.2s ease-in-out;
}
.ab-box:nth-child(5) {
  background: rgba(249, 179, 255, 0.2);
  border: 3px solid #f9b2ff;
  transition: all 0.2s ease-in-out;
}

.ab-box:nth-child(1):hover {
  box-shadow: 0px 0px 30px rgba(142, 181, 255, 0.2);
  border: 3px solid #8eb5ff;
}
.ab-box:nth-child(2):hover {
  box-shadow: 0px 0px 30px rgba(255, 220, 151, 0.2);
  border: 3px solid #ffdc97;
}
.ab-box:nth-child(3):hover {
  box-shadow: 0px 0px 30px rgba(255, 162, 162, 0.2);
  border: 3px solid #ffa1a1;
}
.ab-box:nth-child(4):hover {
  box-shadow: 0px 0px 30px rgba(154, 255, 213, 0.2);
  border: 3px solid #9affd5;
}
.ab-box:nth-child(5):hover {
  box-shadow: 0px 0px 30px rgba(249, 179, 255, 0.2);
  border: 3px solid #f9b2ff;
}

.info {
  background: #2489ff;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 67px;
}

.info-title {
  font-family: vazir-black;
  font-size: 64px;
  color: white;
}

.info-image {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 40px;
}

.info-des {
  margin-top: 14px;
  font-family: vazir-req;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 44px;
  color: #d3e7ff;
}

.another-ability {
  width: 100%;
  padding-right: 11%;
  padding-left: 11%;
  margin-bottom: 50px;
}

.another-image {
  display: flex;
  justify-content: center;
  padding-left: 120px;
}

.another-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 16px;
}

.another-title {
  color: white;
  font-family: vazir-bold;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 94px;
  margin-bottom: 18px;
  margin-right: 20px;
}

.another-des {
  font-family: "vazir-req";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: right;
  color: #d3e7ff;
}

.split-border {
  border: 1px solid #1c253a;
  width: 42%;
  margin: 120px auto 70px auto;
}

.question {
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}

.qa-title {
  color: white;
  font-family: vazir-bold;
  font-weight: 800;
  font-size: 34px;
  line-height: 69px;
}

.qa-title img {
  margin-left: 10px;
}

.qa-shape {
  margin-top: 12px;
  margin-bottom: 100px;
}

.qa-box {
  border: 1px solid #474747;
  border-radius: 11px;
  padding: 8px 16px 18px 8px;
  max-height: 64px;
  overflow: hidden;
  margin-bottom: 12px;
  transition: max-height 0.8s ease-in-out;
}

.qa-box-show {
  max-height: 450px !important;
}

.qa-box-title div {
  font-family: vazir-med;
  font-weight: 400;
  font-size: 19px;
  line-height: 45px;
  color: #e1e1e1;
  cursor: pointer;
}

.qa-box-arrow {
  display: flex;
  padding-left: 30px;
  justify-content: end;
  align-items: center;
  align-content: center;
}

.qa-arrow {
  transition: all 0.25s ease-in-out;
}

.open-qa-arrow {
  transform: rotateZ(180deg);
}

.qa-box-des {
  margin-top: 10px;
  font-size: 20px;
  line-height: 21px;
  text-align: right;
  color: #9a9a9a;
  font-family: vazir-req;
}

.open-qa-animation {
  animation: open-qa 0.5s ease-in-out;
  animation-fill-mode: both;
}

@keyframes open-qa {
  0% {
    padding: 8px 16px 8px 8px;
    height: 64px;
  }

  100% {
    padding: 8px 16px 18px 8px;
    height: auto;
  }
}

.footer {
  background: #1a1b24;
  width: 100%;
  padding: 2% 8% 0.8% 9%;
}

.footer-title {
  font-family: vazir-bold;
  font-style: normal;
  /* font-weight: 900; */
  /* font-size: 50px; */
  /* line-height: 67px; */
  color: #fef5f5;
  display: flex;
  align-items: center;
}

.contact-foot {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}

.ft-2 {
  direction: rtl !important;
  /* margin-top: 10px;
  margin-bottom: 15px; */
  font-family: vazir-bold;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.ft-2 b {
  font-size: 19px;
}


.footer-title img {
  margin-left: 18px;
  width: 59px;
}


.footer-about {
  color: white;
}

.footer-about-me {
  font-family: vazir-bold;
  font-weight: 900;
  font-size: 17px;
}

.footer-about ul {
  margin-top: 6px;
  padding-right: 20px;
  font-family: vazir-req !important;
  font-weight: 200;
  font-size: 16px;
  list-style-position: outside;
}

.footer-about ul li {
  line-height: 30px;
  color: #c5c7d7;
  cursor: pointer;
}

.footer-right-border {
  border-right: 1px solid #3d4166;
  /* transform: rotate(90deg); */
  width: 2px;
  margin-top: 8px;
  height: 108px;
  position: absolute;
  margin-right: -54px;
  /* margin-right: -90px;
    position: absolute; */
}

.footer-right-border2 {
  border-right: 1px solid #3d4166;
  /* transform: rotate(90deg); */
  width: 2px;
  margin-top: 8px;
  height: 108px;
  position: absolute;
  margin-right: 0px;
  /* margin-right: -90px;
    position: absolute; */
}

.footer-social-title {
  font-family: vazir-bold;
  font-weight: 900;
  font-size: 17px;
  line-height: 27px;
}

.footer-social-des {
  font-family: vazir-req !important;
  font-weight: 200;
  font-size: 16px;
  color: #c5c7d7;
  margin-top: 7px;
}

.footer-social-icons {
  margin-top: 20px;
}

.footer-social-icons img {
  margin-left: 14px;
  cursor: pointer !important;
}

.footer-support-title {
  font-family: vazir-bold;
  font-weight: 900;
  font-size: 17px;
  line-height: 27px;
}

.footer-support-des {
  font-family: vazir-req !important;
  font-weight: 200;
  font-size: 16px;
  color: #c5c7d7;
  margin-top: 7px;
}

.footer-support-button {
  background: #2489ff;
  border-radius: 28.5px;
  color: black;
  font-family: vazir-black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 51px;
  margin-top: 10px;
  cursor: pointer;
}

.footer-support-button img {
  margin-left: 10px;
}

.footer-support {
  padding-right: 70px;
}

.shop-header {
  height: 115px;
}

.buy-card {
  width: 100%;
  height: 78% !important;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.buy-card-body {
  width: 68%;
  height: 78%;
  display: flex;
  min-height: 600px;
  min-width: 1100px;
}

.payment-card {
  margin-top: 90px;
  margin-bottom: 85px;
  width: 100%;
  height: 78% !important;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.payment-card-body {
  width: 68%;
  height: 78%;
  display: flex;
  min-height: 600px;
  min-width: 1100px;
  display: flex;
  justify-content: center;
}

.payment-black-card {
  width: 70%;
  height: 100%;
  background: #191919;
  padding: 50px;
  border: 1px solid #444444;
  border-radius: 38px;
  overflow: hidden !important;
}

.shop-details {
  margin-top: 30px;
}

.shop-details-g {
  margin-top: -60px;
}

.shop-coin-detail {
  background: #0e0e0e;
  border-radius: 24.5px;
  font-family: vazir-req;
  font-size: 24px;
  padding-right: 24px;
  padding-left: 24px;
  margin-bottom: 14px;
}

.shop_circle_profile {
  display: inline-block;
  width: 13px;
  margin-left: 5px;
  height: 13px;
  border-radius: 50%;
  background: #d9d9d9 !important;
}

.result-coin {
  text-align: left;
  font-family: poppins-bold;
  direction: ltr !important;
}

.result-coin-r {
  text-align: left;
  font-family: vazir-bold;
}

.result-coin img {
  width: 30px;
  margin-right: 5px;
}

.shop-border-down {
  border: 1px solid #303030;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: auto;
  margin-left: auto;
  width: 76%;
}

.shop-border-down-2 {
  border: 1px solid #303030;
  margin-top: 35px;
  margin-bottom: 27px;
  margin-right: auto;
  margin-left: auto;
  width: 76%;
}

.shop-wallet-address {
  margin-top: 8px;
  background: #1c2024;
  border: 1px solid #242b32;
  border-radius: 24.5px;
  font-size: 22px;
  font-family: poppins-bold;
  text-align: left;
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  overflow: scroll !important;
}

.shop-wallet-address::-webkit-scrollbar {
  display: none;
}

.shop-wallet-end {
  font-family: vazir-req;
  font-size: 24px;
  margin-top: 0px;
}

.shop-wallet-end-g {
  font-family: vazir-req;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #bbbbbb;
  line-height: 35px;
}

.shop-wallet-end-gr {
  font-family: vazir-req;
  font-size: 22px;
  margin-top: 0px;
  color: #8c8c8c;
}

.green-bord {
  border: 1px solid #00ff75;
}

.red-bord {
  border: 1px solid #ff2525;
}

.blu-card {
  position: relative;
  right: 70px;
  z-index: -1;
  border-radius: 38px;
  width: 40%;
  height: 100%;
  background-image: url("images/blu-card.svg");
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: optimizeQuality;
}

.blu-card-c1 {
  position: relative;
  right: 60px;
  z-index: -1;
  border-radius: 38px;
  width: 40%;
  height: 100%;
  background-image: url("images/cards/c1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: optimizeQuality;
}

.blu-card-c2 {
  position: relative;
  right: 60px;
  z-index: -1;
  border-radius: 38px;
  width: 40%;
  height: 100%;
  background-image: url("images/cards/c2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: optimizeQuality;
}

.blu-card-c3 {
  position: relative;
  right: 60px;
  z-index: -1;
  border-radius: 38px;
  width: 40%;
  height: 100%;
  background-image: url("images/cards/c3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: optimizeQuality;
}

.blu-card-c4 {
  position: relative;
  right: 60px;
  z-index: -1;
  border-radius: 38px;
  width: 40%;
  height: 100%;
  background-image: url("https://mrswap.org/images/cards/c4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: optimizeQuality;
}

/* .blu-card img {
    position: relative;
    z-index: -1;
    height: 100%;
    right: -50px;
} */

.cards-gift {
  display: inline-block !important;
  margin-bottom: 40px;
}

.cards-gift div {
  margin-left: 8px;
  display: inline-block;
  cursor: pointer;
  padding-right: 42px;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 30px;
  font-family: vazir-bold;
  background: rgba(74, 100, 131, 0.07);
  border: 1px solid #353d47;
  border-radius: 19px;
  color: white;
}

.active-gift-card-op {
  background: rgba(63, 151, 255, 0.19) !important;
  border: 1px solid #2489ff !important;
}

.black-card {
  width: 65.9%;
  height: 100%;
  background: #191919;
  padding: 50px;
  border: 1px solid #444444;
  border-radius: 38px;
  overflow: hidden !important;
}

.buy-title {
  margin-top: -10px;
  font-family: vazir-black;
  color: white;
  font-size: 44px;
  line-height: 60px;
}

.buy-title-text {
  z-index: 2 !important;
  position: relative;
}

.buy-title-text-g {
  z-index: 2 !important;
  position: relative;
}

.buy-title-border {
  background: #2489ff;
  border-radius: 30px;
  width: 164px;
  height: 20px;
  position: relative;
  z-index: 0 !important;
  top: -25px;
  right: -8px;
}

.buy-title-border-gift {
  background: #2489ff;
  border-radius: 30px;
  width: 344px;
  height: 20px;
  position: relative;
  z-index: 0 !important;
  top: -25px;
  right: -8px;
}

.payment-title-border {
  background: #2489ff;
  border-radius: 30px;
  width: 285px;
  height: 20px;
  position: relative;
  z-index: 0 !important;
  top: -25px;
  right: -8px;
}

.green-border {
  background: #33bf74 !important;
}

.red-border {
  background: #ff2525 !important;
}

.buy-des {
  font-family: vazir-req;
  color: #bbbbbb;
  font-weight: 400;
  font-size: 24px;
  margin-top: -8px;
}

.buy-des-g {
  font-family: vazir-req;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0px;
}

.by_green {
  color: #00ff75;
}

.by_red {
  color: #ff2525;
}

.buy-coin {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
}

.coin-select {
  width: 30%;
  height: 68px;
  background: rgba(115, 179, 255, 0.07);
  border: 1px solid #2489ff;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: poppins-bold;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.coin-select img:nth-child(1) {
  width: 19px;
  position: relative;
  right: -25px;
}

.coin-select img:nth-child(2) {
  width: 29px;
  margin-left: -20px;
  margin-right: 8px;
}

.amount-coin-input {
  background: rgba(28, 63, 104, 0.07);
  border: 1px solid #474747;
  border-radius: 19px;
  width: 70%;
  margin-right: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: vazir-req;
  color: white;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

.amount-coin-input::placeholder {
  color: rgba(245, 245, 245, 0.16);
  text-align: right;
}

.amount-coin-input:focus {
  outline: none !important;
  box-shadow: 0px 0px 20px rgba(245, 245, 245, 0.05);
}

.amount-coin-input:focus::placeholder {
  color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.wallet-input {
  margin-top: 38px;
}

.wallet-input-title {
  font-family: vazir-req;
  color: #bbbbbb;
  font-weight: 400;
  font-size: 24px;
  margin-top: -8px;
}

.wallet-coin-input {
  background: rgba(28, 63, 104, 0.07);
  border: 1px solid #474747;
  border-radius: 19px;
  width: 100%;
  margin-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: vazir-req;
  color: white;
  text-align: center;
  font-size: 18px;
  height: 68px;
  transition: all 0.2s ease-in-out;
}

.wallet-coin-input::placeholder {
  color: rgba(245, 245, 245, 0.16);
  text-align: right;
}

.wallet-coin-input:focus {
  outline: none !important;
  box-shadow: 0px 0px 20px rgba(245, 245, 245, 0.05);
}

.wallet-coin-input:focus::placeholder {
  color: transparent;
}

.buy-warning {
  margin-top: 20px;
  font-family: vazir-req;
  color: #bbbbbb;
  font-size: 14px;
}

.buy-warning span {
  margin-right: 2px;
  margin-left: 4px;
  color: #dab42c;
}

.dcenters {
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
}

.wallet-buy-button {
  margin-top: 38px;
  font-family: vazir-bold;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  background: #2489ff;
  box-shadow: 0px 0px 30px rgba(36, 137, 255, 0.38);
  border-radius: 28.5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.wallet-buy-button:hover {
  box-shadow: 0px 0px 30px rgba(36, 137, 255, 0.63);
}

.rules {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.rule-body {
  width: 85%;
  background: #191919;
  border: 1px solid #444444;
  border-radius: 38px;
  padding: 55px 50px 60px 50px;
}

.rule-title {
  font-family: vazir-bold;
  font-size: 30px;
  color: white;
}

.rule-title img {
  width: 30px;
  margin-left: 12px;
}

.rule-text {
  margin-top: 30px;
  padding-right: 52px;
  padding-left: 52px;
  font-family: vazir-req;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-size: 18px;
  line-height: 197.5%;
}

.rule-pr {
  font-family: vazir-bold;
  margin-top: 18px;
  margin-bottom: 6px;
  font-size: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
}

.rule-pr span {
  display: inline-block;
  width: 13px;
  margin-left: 10px;
  height: 13px;
  border-radius: 50%;
  background: #d9d9d9;
}

.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-login {
  height: 80px;
}

.body-login {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  background: #191919;
  border: 1px solid #444444;
  border-radius: 38px;
  width: 46%;
  height: 80%;
  padding: 35px 50px 35px 50px;
  display: flex;
  flex-direction: column;
}

.profile-card {
  background: #191919;
  border: 1px solid #444444;
  border-radius: 38px;
  width: 76%;
  height: 80%;
  padding: 35px 50px 35px 50px;
  display: flex;
  flex-direction: column;
}

.login-title-text {
  font-family: vazir-bold;
  font-size: 35px;
  color: white;
  z-index: 3 !important;
  position: relative;
}

.login-title-border {
  background: #2489ff;
  border-radius: 30px;
  width: 89px;
  height: 20px;
  position: relative;
  z-index: 0 !important;
  top: -25px;
  right: -8px;
}

.verify-title-border {
  background: #2489ff;
  border-radius: 30px;
  width: 259px;
  height: 20px;
  position: relative;
  z-index: 0 !important;
  top: -25px;
  right: -8px;
}

.profile-title-border {
  background: #2489ff;
  border-radius: 30px;
  width: 132px;
  height: 20px;
  position: relative;
  z-index: 0 !important;
  top: -25px;
  right: -8px;
}

.login-des {
  margin-top: 10px;
  font-family: vazir-req;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 145.75%;
  text-align: right;
  color: #bbbbbb;
}

.login-number {
  margin-top: 18px;
  width: 100%;
  height: 68px;
  display: flex;
}

.number-input {
  width: 80%;
  background: rgba(28, 63, 104, 0.07);
  border: 1px solid #474747;
  border-radius: 19px;
  font-family: vazir-med;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.number-input::placeholder {
  color: rgba(245, 245, 245, 0.16);
  text-align: center;
}

.number-input:focus {
  text-align: center;
  outline: none;
  box-shadow: 0px 0px 20px rgba(245, 245, 245, 0.05);
}

.number-input:focus::placeholder {
  color: transparent;
}

.number-status {
  margin-right: 10px;
  width: 19.9%;
  background: rgba(21, 75, 255, 0.08);
  border: 1px solid #008cff;
  border-radius: 19px;
  font-weight: 700;
  font-size: 15px;
  line-height: 145.75%;
  text-align: right;
  font-family: vazir-med;
  color: #7d91ff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.number-box-error {
  background: rgba(249, 78, 78, 0.08);
  border: 1px solid #f32a2a;
  color: #ef5e5e;
}

.number-box-success {
  background: rgba(58, 248, 131, 0.08);
  border: 1px solid #2af395;
  color: #2af395;
}

.login-rules {
  margin-top: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  height: 30px;
}

.login-rule-text {
  color: #bbbbbb;
  font-family: vazir-req;
  font-weight: 400;
  font-size: 24px;
  line-height: 145.75%;
  margin-right: 20px;
}

.login-rule-text span {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 8.7px;
  color: #2489ff;
}

.login-checkbox {
  background: #191b1e;
  border: 1px solid #474747;
  border-radius: 6px;
  height: 100%;
  width: 30px;
  border-radius: 6px;
  cursor: pointer;
}

.checkbox-clicked {
  background: #00ffaa;
  border: 1px solid #37f15f;
}

.send-sms-btn {
  background: #2489ff;
  border-radius: 28.5px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 28px;
  font-family: vazir-med;
  padding-top: 12px;
  padding-bottom: 12px;
  opacity: 0.3;
  width: 100%;
  margin-bottom: 25px;
  transition: all 0.3s ease-in-out;
  cursor: default;
}

.active-send-sms {
  cursor: pointer;
  opacity: 1;
}

.active-send-sms:hover {
  box-shadow: 0px 0px 30px rgba(36, 137, 255, 0.53);
}

.login-details {
  height: 80%;
}

.login-btns {
  display: flex;
  align-items: end;
  width: 100%;
  height: 19%;
}

.loading-circle {
  border: 3px solid #eeeeee;
  border-top: 3px solid transparent;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  animation: spin 1s ease-in-out infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.verify-number {
  margin-top: 18px;
  width: 100%;
  height: 68px;
  display: flex;
}

.verify-inputs {
  background: rgba(28, 63, 104, 0.07);
  border: 1px solid #474747;
  border-radius: 19px;
  color: white;
  font-family: poppins-bold;
  text-align: center;
  width: 93px;
  height: 68px;
  margin-left: 20px;
  font-size: 30px;
}

input {
  direction: ltr !important;
}

.verify-inputs:focus {
  outline: none;
}

.sms-options {
  margin-top: 28px;
  display: flex;
  align-items: center;
  align-content: center;
  height: 30px;
}

.sms-options2 {
  margin-top: 19px;

  display: flex;
  align-items: center;
  align-content: center;
  height: 30px;
}

#session_id {
  display: none !important;
}

#message_card {
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: vazir-med;
  color: white;
  top: -100px;
  left: 50%;
  transform: translate(-50%, -100px);
  width: 216px;
  height: 54px;
  border-radius: 27px;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}

.message_card_error {
  background-color: #ff3743;
  top: 30px !important;
  left: 50%;
  transform: translate(-50%, 30px) !important;
}

.message_card_sucs {
  background-color: #10cf74;
  top: 30px !important;
  left: 50%;
  transform: translate(-50%, 30px) !important;
}

.logout-button {
  display: flex;
  justify-content: end;
  align-items: center;
  align-content: end;
}

.logout-button div {
  background: #ff2431;
  border-radius: 28.5px;
  width: 206px;
  height: 62px;
  cursor: pointer;
  font-family: vazir-med;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.profile-details {
  font-family: vazir-med;
  color: white;
  font-size: 18px;
  margin-top: 70px;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
}

.profile-details div {
  background: #2489ff;
  border-radius: 25px;
  margin-right: 10px;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-right: 23px;
  padding-left: 23px;
}

.circle_profile {
  display: inline-block;
  width: 13px;
  margin-left: 13px;
  height: 13px;
  border-radius: 50%;
  background: #d9d9d9 !important;
}

.profile-details2 {
  font-family: vazir-med;
  color: white;
  font-size: 18px;
  margin-top: 35px;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
}

.profile-details2 div {
  background: #2489ff;
  border-radius: 25px;
  margin-right: 10px;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-right: 23px;
  padding-left: 23px;
}

.last-logins {
  display: inline-block;
}

.last-logins div {
  display: inline-block;
  color: white;
  margin-top: 20px;
  margin-bottom: -20px;
  margin-left: 18px;
  padding: 10px 20px 10px 20px;
  background: #0f0f0f;
  border-radius: 25px;
  direction: ltr !important;
}

.mobile-header {
  width: 100%;
  display: none !important;
}

.mobile-header-title {
  color: white;
  font-size: 20px;
  font-family: vazir-bold;
  text-align: right;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ham-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.ham-menu img {
  width: 30px;
}

.mobile-menu {
  transition: all 0.3s ease-in-out;
  max-height: 0px;
  text-align: right !important;
}

.mt4 {
  margin-top: 40px !important;
}

.shop-wallet-buy-button {
  margin-top: 88px;
  font-family: vazir-bold;
  color: white;
  height: 74px;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  background: #2489ff;
  box-shadow: 0px 0px 30px rgba(36, 137, 255, 0.38);
  border-radius: 36.5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-site {
  position: fixed;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f0f;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
}

.loading-dis {
  opacity: 0 !important;
}

.loading-site img {
  width: 230px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes loading-site {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.history-body {
  width: 80%;
  margin: 70px auto auto auto;
}

.history-title {
}

.enm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.enamad {
  /* background-color: white;
  padding: 18px;
  border-radius: 20px; */
  width: 110px !important;
  float: left !important;
 
}

.login-title-border-hs {
  background: #2489ff;
  border-radius: 30px;
  width: 300px;
  height: 20px;
  position: relative;
  z-index: 0 !important;
  top: -25px;
  right: -8px;
}

.history-card-body {
  margin-top: 30px;
}

.history-card {
  background: #191919;
  border: 1px solid #444444;
  border-radius: 38px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.history-card div {
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
}

.end-history {
  margin-bottom: 80px;
}

.intro-image {
  position: relative;
  /* top: -80px; */
  transform: translateY(-80px);
  animation: intro-animate 4s ease-in-out infinite;
  /* padding-right: 33px; */
  width: 504px;
}

.intro-image-shape {
  position: absolute;
  width: 180px;
  height: 190px;
  margin-left: 394px;
  margin-top: 120px;
  color: white;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: 30px;
  text-align: center;
  font-family: fanavari;
  animation: intro-animate 4s ease-in-out infinite;
  background-image: url("images/intro/1.png");
  background-size: auto;
  background-repeat: round;
  background-size: contain;
  image-rendering: optimizeQuality;
}

.no-fac {
  font-family: vazir-med;
  color: white;
  font-size: 30px;
  margin-top: 10px;
}

.page_not {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body_not {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -110px;
}

.back_404 {
  z-index: -1 !important;
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image_404 {
  z-index: 14 !important;
  height: 600px;
}

.title_not {
  margin-top: -40px;
  font-family: vazir-black;
  font-size: 80px;
  color: white;
  text-align: center;
}

.des_not {
  margin-top: 0px;
  font-family: vazir-med;
  font-size: 20px;
  color: #bdbdbd;
  text-align: center;
}
